#banner
    .banner_content
        %h1 ONLINE EXAMINATION
        %p Online examination system for your comfort.
        %button= link_to "Sign Up", new_admin_registration_path
#testimonial
    .wrapper
        %p.quote "The future of taking exams."
        %p.name - PQ
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Ease to use
                %p This application is very easy to use and only requires a user to sign in, select a subject and take the resultant test attached.

            .callout
                %h2 Sharp results
                %p Your results are displayed immediately for you. NO WAITING.....

            .callout
                %h2 Analytics
                %p The combined results of all students is put in a well-displayed graphic diagram for management.


%footer &copy; PQ
