.wrapper_with_padding
	#subjects.clearfix
		- unless @subjects.blank?
			- @subjects.each do |subject|
				%a{ href: (subject_questions_path(subject))}
					.subject
						%p.name= subject.name
						%p.lecturer=subject.lecturer
						%p.subject_code=subject.subject_code
		- else
			%h2 Add a Subject
			%p Please follow the link to add a new subject.
			%button= link_to "New Subject", new_subject_path
